<div id="login-popup" class="modal" style="display: none;">
  <div class="modal-content">
    <p><%= t ".login_now?" %></p>
    <div class="modal-actions">
      <button id="close-modal" class="btn btn-secondary">
        <%= t ".maybe_later" %>
      </button>
      <%= button_to t(".login_now"), login_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>
