<div class="status-buttons">
  <%= link_to t(".all", count: current_user.orders.count), orders_path, class: "btn btn-outline-primary #{@current_status.to_sym == :all ? "active" : ""}", data: {turbo_frame: "order_list"} %>
  <% Order.statuses.keys.each do |status| %>
    <%= link_to "#{status_name(status)} (#{current_user.orders.where(status: status).count})", orders_path(status: status), class: "btn btn-outline-primary #{@current_status == status ? "active" : ""}", data: {turbo_frame: "order_list"} %>
  <% end %>
</div>
