<% provide :title, t("admin.products.edit.title") %>
<div class="crud_product">
  <p class="crud-title"><%= t "admin.products.edit.title" %></p>
  <%= render partial: "form", product: @product %>
</div>
