$white: #fff;
$black: #000;
$primary: #ffd8e4;
$pink: #eb344c;
$light-pink: #ff586e;
$box_shadow: rgba(0, 0, 0, 0.1);
$light-gray: #ccc;
$cart: #eb344c;
$dark-blue: #235284;
$border-pink: #e49eae;
$text-pink: #F092AF;
$box-shadow: #00000015;
