$white: #fff;
$black: #000;
$primary: #ffd8e4;
$pink: #eb344c;
$light-pink: #ff586e;
$light-gray: #ccc;
$cart: #eb344c;
$dark-blue: #235284;
$border-pink: #e49eae;
$text-pink: #F092AF;
$dark-white: #f0f0f0;

$price-color: #235284;
$total-price-color: #EC221F;
$cart-color1: rgba(202, 240, 248, 0.34);
$box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);

$btn-primary-bg: #FC693B;
$btn-primary-hover-bg: #e08e0b;

$btn-quantity-minus-bg: #EC221F;
$btn-quantity-minus-hover-bg: #c11a17;
$btn-quantity-plus-bg: #14AE5C;
$btn-quantity-plus-hover-bg: #10963e;
$input-quantity-border: #CAF0F8;
$box-shadow: #00000015;
$button-hover: #FC693B;
$popup: rgba(0, 0, 0, 0.5);
$border-gray: #e2e2e2;
$text-bold: #333;
$admin-product: rgba(202, 240, 248, 0.34);
$product-desc: #757575;
$yellow: yellow;
