@import 'bootstrap';
@import 'bootstrap-icons';
@import 'bootstrap-min';
@import 'color';
@import 'defaults';
@import 'header';
@import 'login';
@import 'products/category_list';
@import 'products/product_list';
@import 'products/show_products.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
