@import 'social-share-button';
@import 'bootstrap';
@import 'bootstrap-icons';
@import 'bootstrap-min';
@import 'toastr';
@import 'color';
@import 'defaults';
@import 'header';
@import 'login';
@import 'cart';
@import 'products/category_list';
@import 'products/product_list';
@import 'products/show_products';
@import 'product-page';
@import 'products/admin_show';
@import 'products/crud';
@import 'products/feedback';
@import 'login-modal';
@import 'orders/receive_info';
@import 'orders/order_info';
@import 'addresses/address_form';
@import 'orders/*';
@import 'font-awesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$share-button-size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $share-button-size $share-button-size;
    height: $share-button-size;
    width: $share-button-size;
  }
}
