@import 'color';

.cart-container {

  box-shadow: $box-shadow;
  border-radius: 10px;
  border-collapse: collapse;

  th {
    background-color: $cart-color1;
    padding: 8px;
    text-align: left;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  th, td {
    padding-right: 20px;
    padding-left: 20px;
  }

  .product-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .product-image {
    width: 100%;
    height: 170px;
    border-radius: 10px;
  }

  .product-name {
    color: $black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .product-price {
    color: $price-color;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .quantity-container {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: left;


    .quantity-btn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 18px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .quantity-btn:first-child {
      background-color: $btn-quantity-minus-bg;
      color: $white;

      &:hover {
        background-color: $btn-quantity-minus-hover-bg;
      }
    }

    .quantity-btn:last-child {
      background-color: $btn-quantity-plus-bg;
      color: $white;

      &:hover {
        background-color: $btn-quantity-plus-hover-bg;
      }
    }

    .quantity-input {
      width: 50px;
      height: 30px;
      text-align: center;
      font-size: 20px;
      border: 1px solid $input-quantity-border;
      border-radius: 4px;
      margin: 0 10px;
    }
  }

  .delete-button {
    width: 32px;
    height: 32px;

    .icon {
      width: 21.33px;
      height: 24px;
      background-color: $black;
    }
  }
  .total-price {
    text-align: left;
    color: $price-color;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }
}

.total-container {

  box-shadow: $box-shadow;
  border-radius: 10px;

  border-collapse: collapse;
  width: 100%;

  .total-price {
    color: $total-price-color;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }

  .title {
    color: $price-color;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }

  .btn-buy {
    border-color: $btn-primary-bg;
    color: $btn-primary-bg;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .btn-buy:hover {
    background-color: $btn-primary-hover-bg;
    border-color: $btn-primary-hover-bg;
    color: $white;
  }
}
