@import 'color';

.product-container {
  padding: 20px;

  .product-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    .product-page-image {
      margin-right: 20px; // Add space between the image and the details

      img {
        max-width: 150px;
        height: auto;
      }
    }

    .product-details {
      border: 1px solid $light-gray;
      padding: 20px;
      max-height: 150px;
      flex-grow: 1;

      h2 {
        margin-top: 0;
        font-size: 24px;
      }

      p {
        margin: 5px 0;
      }
    }
  }

  .product-price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-price {
      color: red;
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }

    .add-to-cart {
      background-color: white;
      border: 1px solid black;
      padding: 10px 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $dark-white;
      }
    }
  }
}

.add-to-cart-btn {
  background-color: $primary;
  color: $pink;

  &:hover {
    background-color: $light-pink;
  }
}

.product-page-quantity-container {
  display: flex;
  align-items: center;

  .product-page-quantity-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .product-page-quantity-btn-minus {
    background-color: $btn-quantity-minus-bg;
    color: $white;

    &:hover {
      background-color: $btn-quantity-minus-hover-bg;
    }
  }

  .product-page-quantity-btn-plus {
    background-color: $btn-quantity-plus-bg;
    color: $white;

    &:hover {
      background-color: $btn-quantity-plus-hover-bg;
    }
  }

  .product-page-quantity-input {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border: 1px solid $input-quantity-border;
    border-radius: 4px;
    margin: 0 10px;
  }
}
