<li class="category-list-item">
  <div class="category-link" data-id=<%= category.id %>>
    <%= gravatar_for_category category, size: Settings.list.gravatar_size %>
    <span class="category-name"><%= category.category_name %></span>
  </div>
</li>
